@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
  }
  
  /* Container with Animated Background */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #0a0e0f, #171b1d, #202426, #3b3b3b, #5e5e5e);
    background-size: 400% 400%; /* To allow gradient to cover the entire area */
    animation: gradient 15s ease infinite; /* Animation settings */
  }
  
  /* Login Form */
  .form {
    background-color: #252b2e; /* Semi-transparent background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .inputGroup {
    margin-bottom: 20px;
    width: 280px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #171b1d;
  }
  
  .button {
    width: 300px;
    padding: 10px;
    background-color: #3ab284;;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2a9979;
  }
  