/* Login.css */

/* Gradient Animation */
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
  }
  
  /* Container with Animated Background */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #7529ae, #b50ecb, #f209a4, #ef0423, #ed04e1, #7306f0);
    background-size: 400% 400%; /* To allow gradient to cover the entire area */
    animation: gradient 15s ease infinite; /* Animation settings */
  }
  
  /* Login Form */
  .form {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }