body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.home-page {
  text-align: center;
  padding: 0px;
}

.heading h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.carousel-container {
  margin: 20px auto;
  width: 60%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  forced-color-adjust: #fff;
}

.carousel-caption h2, h3 {
  color: #fff;
}

.carousel-caption p {
  color: #f0f0f0;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.event-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.event-card h2{
  margin-top: 10px;
  margin-bottom: 0px;
}
.event-card:hover {
  transform: translateY(-5px);
}

.join-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.join-button:hover {
  background-color: #0056b3;
}
