.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
  }
  
  .navbar h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .navbar div {
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .navbar a:hover {
    color: #ccc;
  }
  
  .navbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
  }
  
  .navbar button {
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  
  .navbar button:hover {
    background-color: #444;
  }