@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container1 { 
  width: 100%;
  background: linear-gradient(135deg, #fd043a, #7133A5, #174EF3);
  background-size: 300% 300%; /* Make the background larger to allow for the animation */
  animation: gradientShift 8s ease infinite; /* Animate over 8 seconds, loop infinitely */
  color: white;
  padding: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}


.club-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  align-items: center;
  gap: 20px;
}
  
.logo {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
  
.header-text {
  text-align: left;
  margin: 5px 20px;
}
  
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.description {
  font-size: 16px;
  color: #ffddc1;
}

.founded {
  font-size: 16px;
  color: #ffddc1;
  margin-bottom: 10px;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.information {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-weight: bold;
}